<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>輸入Barcode</title>
    
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" />
 
	<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
	        th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
	
</head>
<script>
$(document).ready(function(){
   
});

</script>
<body>
    <form action="/makeBarcode" method="post">
		Barcode content: <input type="text" name="content" placeholder="請輸入Barcode content"/> <br /> 
		<input type="submit" value="產生" />
	</form>
</body>
</html>