<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>產生Barcode</title>
    
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" />
 
	<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
	        th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
	
	<script th:src="@{/js/jquery-barcode.js}"></script>
	
	<script th:src="@{/js/makeBarcode.js}"></script>
	
</head>

<body>
    <h1>Barcode</h1>
    <h3 th:text="${content}"></h3>
	<div id="barcodeTarget"></div>
	<input type='button' value='回上一頁' onclick='javascript:history.back();'/>
	<input type="text" th:value="${content}" style='display: none' id="barcodeContent"/>
</body>
</html>